/* .wp-block-embed.type-video > .wp-block-embed__wrapper {
    position: relative;

    width: 100%;
    height: 0;
    padding-top: 56.25%;
}

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.wp-block-video video {
    max-width: 720px;
} */

/* =============================== */
/*          Media Queries          */
/* =============================== */

/* --------- From Tablet --------- */

//@media screen and (min-width: 768px) {}

/* -------- From small PC -------- */

//@media screen and (min-width: 992px) {}

/* -------- From large PC -------- */

//@media screen and (min-width: 1200px) {}
